<div class="container">
    <div>
        <ul class="list-group">
            <li class="list-group-item active ">Create</li>
            <li class="list-group-item"><button routerLink="/car-save" class="btn btn-link">Add Cars</button></li>
            <li class="list-group-item"><button routerLink="/apartment-save" class="btn btn-link">Add Apartments</button></li>
            <li class="list-group-item"><button routerLink="/phone-save" class="btn btn-link">Add Phones</button></li>
        </ul>
    </div>

</div>