<div class="container border border-dark p-5">
    <div class="row">
        <img src="{{ phone.imageUrl }}" alt="">
        <div class="d-flex flex-column ">
            <div class="p-2">{{ phone.name }}</div>
            <div class="p-2">{{ phone.description }}</div>
            <div class="p-2">{{ phone.price | currency: 'USD' }}</div>
        </div>
        
    </div>
    <div class="align-self-end p-2">
        <div class="row">
            <button class="btn btn-primary col m-4">Message</button>
            <button class="btn btn-primary col m-4">Call</button>

        </div>
    </div>
</div>